/* CSS STRUCTURE:

1. VARIABLES

2. GENERAL TYPOGRAPHY
  2.1 General Styles
  2.2 Background Color
  2.3 Section
  2.4 Buttons

3. CONTENT ELEMENTS

4. COMMON SECTIONS
  4.1 Header
  4.2 Footer

5. PAGES
  5.1 Homepage
  5.2 Product
  5.3 Sobre Nós

6. TRABALHO DE GRUPO 2
  6.1 Pop-up Cookies
  6.2 My Account

  
/*--------------------------------------------------------------
/** 1. VARIABLES
--------------------------------------------------------------*/
:root {
  --primary-color: #D16806;
  --secondary-color: #F9F6F3;
  --black-color: #1A1A1A;
  --dark-color: #353535;
  --primary-color-200: #E8F0F1;
  --primary-color-400: #c4e9ed;
  --gray-color: #777F81;
  --light-color: #fdfdfd;

  /* BOOTSTRAP COLOR-SCHEME */
  --bs-dark-rgb: 80, 80, 80;
  --bs-gray-100: #EAE5DD;
  --bs-gray-300: #DCDCDC;
  --bs-light-rgb: rgba(255, 255, 255, 1);
  --bs-body-color-rgb: 53, 53, 53;
  --bs-primary-rgb: 209, 104, 6;
  --bs-secondary-rgb: 249, 246, 243;
}

/* FONTS */
:root {
  --heading-font: "Cormorant Upright", serif;
  --heading-font-2: "Cormorant", serif;
  --body-font: "Sora", sans-serif;
}

/*----------------------------------------------*/
/* 2 GENERAL TYPOGRAPHY
/*----------------------------------------------*/

/* 2.1 GENERAL STYLES
/*----------------------------------------------*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
}

body {
  font-family: var(--body-font);
  font-size: 15px;
  font-weight: 400;
  line-height: 164%;
  letter-spacing: 0.32px;
  color: var(--dark-color);
  margin: 0;
}

p {
  color: var(--dark-color);
}

.title-caracter {
  font-family: var(--heading-font-2);
  font-weight: 100;
  font-size: 40px;
}

@media (max-width: 768px) {
  .title-caracter {
    font-size: 25px;
  }
} 

a {
  color: inherit;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

a:hover {
  color: var(--primary-color);
}

.text-light {
  color: var(--light-color) !important;
}

.text-primary {
  color: var(--primary-color) !important;
}

.text-black {
  color: var(--black-color) !important;
}

/* 2.2 BACKGROUND COLOR
/*----------------------------------------------*/
.bg-light {
  background-color: var(--light-color) !important;
}

.bg-primary {
  background-color: var(--primary-color) !important;
}

.bg-gray {
  background-color: var(--bs-gray-100) !important;
}

/*--------------------------------------------------------------
/** 2.3 SECTION
--------------------------------------------------------------*/
/* SECTION PADDING 
--------------------------------------------------------------*/
.padding-small {
  padding-top: 5em;
  padding-bottom: 5em;
}

.padding-medium {
  padding-top: 8em;
  padding-bottom: 8em;
}

.padding-large {
  padding-top: 8em;
  padding-bottom: 8em;
}

.padding-side {
  padding-left: 6rem;
  padding-right: 6rem;
}

@media (max-width: 1400px) {
  .padding-side {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media (max-width: 1200px) {
  .padding-side {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

@media (max-width: 992px) {
  .padding-side {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media (max-width: 768px) {
  .padding-side {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .padding-large {
    padding-top: 15em;
  }
}

@media (max-width: 576px) {
  .padding-side {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .padding-large {
    padding-top: 18em;
  }
}

/* SECTION MARGIN 
--------------------------------------------------------------*/
.margin-small {
  margin-top: 8.125em;
  margin-bottom: 8.125em;
}

.margin-medium {
  margin-top: 10em;
  margin-bottom: 10em;
}

.margin-large {
  margin-top: 12em;
  margin-bottom: 12em;
}


/* SECTION TITLE
--------------------------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--black-color);
  font-family: var(--heading-font);
  font-weight: 400;
}

/*--------------------------------------------------------------
/** 2.4 Buttons
--------------------------------------------------------------*/
.btn {
  --bs-btn-padding-x: 2.4rem;
  --bs-btn-padding-y: 1rem;
  --bs-btn-font-size: 1rem;
  --bs-btn-font-weight: 400;
  text-transform: capitalize;
  border-radius: 10px;
  transition: all 0.4s ease-in-out;
}

/* PRIMARY BUTTONS 
--------------------------------------------------------------*/
.btn-primary {
  --bs-btn-color: var(--dark-color);
  --bs-btn-bg: var(--secondary-color);
  --bs-btn-border-color: var(--secondary-color);
  --bs-btn-hover-color: var(--dark-color);
  --bs-btn-hover-bg: var(--secondary-color);
  --bs-btn-hover-border-color: var(--secondary-color);
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: var(--dark-color);
  --bs-btn-active-bg: var(--secondary-color);
  --bs-btn-active-border-color: var(--secondary-color);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: var(--dark-color);
  --bs-btn-disabled-bg: var(--secondary-color);
  --bs-btn-disabled-border-color: var(--secondary-color);
}

/* OUTLINE BUTTONS
--------------------------------------------------------------*/
.btn-outline-primary {
  --bs-btn-color: var(--secondary-color);
  --bs-btn-border-color: var(--secondary-color);
  --bs-btn-hover-color: var(--dark-color);
  --bs-btn-hover-bg: var(--secondary-color);
  --bs-btn-hover-border-color: var(--secondary-color);
  --bs-btn-focus-shadow-rgb: 13, 110, 253;
  --bs-btn-active-color: var(--dark-color);
  --bs-btn-active-bg: var(--secondary-color);
  --bs-btn-active-border-color: var(--secondary-color);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: var(--secondary-color);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: var(--secondary-color);
  --bs-gradient: none;
}

/* BUTTON HOVER EFFECTS
------------------------------------------------------------- */
.btn-arrow {
  position: relative;
  transition: background-color 300ms ease-out;
  cursor: pointer;
}

.btn-arrow span {
  display: inline-block;
  position: relative;
  transition: all 300ms ease-out;
  will-change: transform;
}

.btn-arrow:hover span {
  transform: translate3d(-0.7rem, 0, 0);
}

.btn-arrow svg {
  position: absolute;
  right: 0;
  opacity: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: all 300ms ease-out;
  will-change: right, opacity;
}

.btn-arrow:hover svg {
  opacity: 1;
  right: -1.6rem;
}


/*--------------------------------------------------------------
/** 3.CONTENT ELEMENTS
--------------------------------------------------------------*/

/* SVG COLOR
------------------------------------------------------------- */
svg.light-color {
  color: var(--light-color);
}

svg.dark-color {
  color: var(--dark-color);
}

svg.color {
  color: #ECB27B;
}

svg.primary-color {
  color: var(--primary-color);
}

svg.social {
  color: #ECB27B;
}

svg.social:hover {
  color: var(--primary-color);
}



/* SWIPER
------------------------------------------------------------- */

.boxes-slider-button-next.swiper-button-disabled,
.boxes-slider-button-prev.swiper-button-disabled {
  opacity: .35;
  cursor: auto;
  pointer-events: none;
}

/* PRELOADER
------------------------------------------------------------- */
.preloader {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 111;
  background: #fff;
}

.loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #D16806;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #ECB27B;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}

.loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #f7dac1;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*----------------------------------------------*/
/* 4 COMMON SECTIONS */
/*----------------------------------------------*/

/* 4.1 HEADER
/*----------------------------------------------*/

a.nav-link {
  text-transform: capitalize;
  color: var(--dark-color);
}

a.nav-link:focus {
  color: var(--dark-color);
}

a.nav-link.active,
a.nav-link:hover {
  color: var(--primary-color) !important;
  outline: none;
}

@media (max-width: 999px) {
  a.nav-link {
    font-size: 30px;
    padding: 15px 0 15px 0 !important;
  }
}

@media (max-width: 768px) {
  .contact-info .info {
    justify-content: center;
    flex-direction: row;
    
  }

  .social-links, .copyright {
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: row; 
    width: 100%; 
    gap: 15px; 
    padding: 0; 
    margin-top: 10px; 
  }
}

/* 4.2 FOOTER
/*----------------------------------------------*/

@media (max-width: 768px) {
  #footer .row {
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
  }
  
  #footer div {
    width: 100%; 
    margin-bottom: 20px; 
  }
 
  #footer .title-footer {
    font-size: 25px;
  }

  #footer li {
    font-size: 13px;
  }
}

/*----------------------------------------------*/
/* 5 PAGES */
/*----------------------------------------------*/

/* 5.1 HOMEPAGE
/*----------------------------------------------*/

/* BANNER */
.title-section {
  font-size: 60px;
}

@media (max-width: 768px) {
  #banner .img-banner {
    align-items: flex-start;
  }

  .title-section {
    font-size: 40px;
  }

  .slogan {
    width: 75%;
    padding-bottom:25%;
  }
}

/* ABOUT */
.coffee-img {
  margin-top: 5px;
}

.books-img {
  margin-top: 5px;
}

.coffee-books-img {
  margin-top:5%;
  width:75%;
}

@media (max-width: 768px) {
  #about-us {
   text-align: center;
  }

  #about-us .btn {
    width: 100%; 
    text-align: center;
  }

  .coffee-img {
    width:70%;
    padding-bottom:0;
  }

  .about-img {
    display: flex;
  }
  .books-img {
    width:60%;
    padding-top: 5px;
  }

  .coffee-books-img {
    margin-left:2%;
    width:37%;
    align-items: center;
    padding-bottom: 10px;
  }
 
}

/* BOXES */

.box img.post-image {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.box:hover img.post-image {
  opacity: 0.5;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.product-description {
  opacity: 0;
  bottom: -125px;
  transition: all 0.5s ease-in-out;
}

.box:hover .product-description {
  opacity: 1;
  bottom: 20px;
}

@media only screen and (min-width:770px) and (max-width: 1400px) {
  .product-description {
    bottom: -180px;
  }
}

@media (max-width: 768px) {
#boxes .box {
  width:75%;
  margin:0 auto; 
}

  .boxes-slider-button-prev,
  .boxes-slider-button-next {
    display: block;
    z-index: 10;
}
}

/* EVENTS */

@media (max-width: 768px) {
  .gallery-swiper {
  width:70%;
  height:auto;
}

#eventos .rounded-circle {
  width:40px;
  height:auto;
  margin-left:20px;
  margin-right:20px;
}
}  


/* APP */

.app-image {
  max-width: 125%;
  height: 100%;
}

.title-caracter-app {
  font-size: 23px;
}
@media (max-width: 768px) {
  .app-image {
    width:70%;
  }

  #app .btn {
    width:100%;
  }

  .title-caracter-app {
    font-size:17px;
  }
}

/* 5.2 PRODUCT
/*----------------------------------------------*/

/* PRODUCT INFO */

@media (max-width: 768px) {
  #product .row {
  margin:5%;
  }

#product .swiper {
width:80%;
align-items: center;
justify-content: center;
}
}

/* SUBSCRIPTION */

.service {
  border: 1px solid #F4E2D8;
  transition: all 0.3s ease-in-out;
}

.service:hover {
  border: 1px solid var(--primary-color);
}


/* 5.3 SOBRE NÓS
/*----------------------------------------------*/

/* VALUES*/
/*--desktop--*/
#values-desktop .values-desktop-item .values-desktop-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin-right: 15px;
}

#values-desktop .values-desktop-item.link {
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 15px;
}

#values-dekstop .values-desktop-item.link .values-desktop-contents *:last-child {
  margin-bottom: 0;
}

#values-desktop .values-desktop :hover {
  color: var(--primary-color);
}


#values-desktop .values-desktop-item.active  {
  background: rgb(225, 225, 225);
}

#values-desktop img, video {
  width: 100%;
  border-radius: 25px;
}


.values-mobile-section {
  display:none;
}

/*--mobile--*/
@media (max-width: 768px) {
  .values-mobile-section {
    display:flex;
  }

  #values-desktop {
    display:none;
  }
  
  .values-mobile-section .row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

 
  #values-mobile .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }


.values-mobile-section .values-mobile-item {
  position: relative;
  overflow: hidden;
  width:65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px; 
}

.values-mobile-section .values-mobile-item .values-mobile-info {
  opacity: 0;
  position: absolute;
  left: 12px;
  right: 12px;
  bottom: -100%;
  z-index: 3;
  transition: all ease-in-out 0.5s;
  background: rgba(255, 255, 255, 0.534); 
  padding: 15px;
  
}

.values-mobile-section .values-mobile-item .values-mobile-info p {
  font-size: 16px;
  margin-bottom: 0;
  padding-right: 50px;
}

.values-mobile-section .values-mobile-item:hover .values-mobile-info {
  opacity: 1;
  bottom: 0;
}
}


/* MEMORIES */

.blog-post img.blog-img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: all 0.5s ease-in-out;
  opacity: 0.5;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.blog-vid {
opacity: 0.5;
width:100%;  
height:100%;
object-fit: cover;
overflow: visible;
margin-bottom:0;
padding-bottom:0;
}

 .aa {
  text-shadow: 
  -1px -1px 0 black;
 }

.overlay-text {
  z-index: 1;
  padding: 20px;
}

.overlay-text h1, .overlay-text p {
  margin: 0;
}

@media (max-width: 768px) {
  #blog .blog-post {
    width:65%;
    align-items: center;
    justify-content: center;
  }
}


/*----------------------------------------------*/
/* 6 TRABALHO DE GRUPO 2 */
/*----------------------------------------------*/

/* 6.1 POP-UP COOKIES
/*----------------------------------------------*/

.popup {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.popup-content {
  background: #fff;
  padding: 20px;
  max-width: 40%;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.popup-icon {
  width: 100px;
  margin-bottom: 15px;
  margin-right:0;
  padding-right:0
}

.popup h2 {
  padding-top:5%;
  margin-left:0;
  padding-left:0;
 }

 .popup-buttons button {
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  margin:2%;
}

/* 6.2 MY ACCOUNT
/*----------------------------------------------*/
.sidebar {
  width: 25%;
  margin-left:5%;
}

.sidebar ul li {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}

.sidebar ul :hover {
  color: var(--primary-color);
}

.icon:hover {
  color: var(--primary-color);
}

.sidebar ul .active {
  background-color: rgb(239, 239, 239);
  font-weight: bold;
  color:var(--primary-color)
}

@media (max-width: 768px) {
  .container-fluid {
    margin:0;
  }
  
  .sidebar {
    width:100%;
    margin:0;
  }
}

/* Dados Pessoais */
.content {
  flex: 1;
  padding: 40px;
}

.content label {
font-size: 15px;
font-weight: 600;
color: #D16806;
}

.content input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 30px;
  font-size: 16px;
}

input:not(:placeholder-shown) {
  border: none;
}

.input-group input {
  width:90%;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
}
.input-group button {
  width: 10%;
  padding-bottom:0;
  padding-top:0;
  font-weight: 400;
  font-size:30px;
  --bs-btn-padding-x: 1rem;
  --bs-btn-padding-y: 1rem;
}

@media (max-width: 768px) {
#wishlist {
  margin:0;
}
}

/*Wishlist*/
#image-container {
  display: grid; 
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px;
  padding: 20px;
  max-width: 100%;
}

.picture-suggestion:hover {
  transform: scale(1.05);
}

.img-suggestion {
  width: 100%; 
  height: auto;
  display: block;
  border-radius: 10px;
}

@media (max-width: 768px) {
  #wishlist {
    margin:0;
  }

  #Adicionar {
    padding:0;
  }
}

/*LOGING CSS*/

.login-container {
display:flex;
flex-direction: column;
align-items: center;
margin-top: 5%;
margin-bottom: 7%;
justify-content: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background-color: #fff;
}

.login-container input {
  width: 100%;
  padding: 10px; 
  font-size: 14px;
  line-height: 1.5;
  border: 1px solid #ccc; 
  border-radius: 4px; 
  display: block; 
  outline: none; 
}

.signup {
  text-decoration: none;
  color: #555;
  font-size: 0.9rem;
}




